<div class="show_post">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @car.favorite %>
</p>


<%= image_tag @car.avatar %>



<br>
<br>
<%= link_to 'Back', '/cars' %>

</div>